<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/home.css">
    <title>Home</title>
</head>

<body>
    <nav class="frame4">
        <div class="frame3">
            <div class="frame65">
                <p class="" href="#" style="color:white ;">
                    <img src="../image/logo.svg" alt="Logo" width="90" height="62.1">
                    Z-TECH
                </p>
            </div>

            <div class="frame7">
                <p>inicio</p>
                <p>sobre nós</p>
                <p>ver estatisticas</p>
            </div>

        </div>

    </nav>

    <header>

    </header>

    <footer>

    </footer>


</body>

</html>